.filtersContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.filtersContainer h4 {
  letter-spacing: 1px;
  font-size: 33px;
  margin: 12px 0;
  text-align: center;
  width: 100%;
}

.filtersContainer button,
.filtersContainer select {
  color: #fff;
  font-size: 33px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 12px 0;
}

.filtersContainer button:hover,
.filtersContainer select:hover {
  color: #9f90ea;
}

.filtersContainer option {
  color: #fff;
  background-color: #000010;
}
